@import "tailwindcss";

@theme {
  --color-primary: #16a34a; /* Vibrant Green (Tailwind green-600) */
  --color-secondary: #0a0a0a; /* Deep Black */
  --color-accent: #f8fafc; /* Very Soft Grey */

  --color-background: #ffffff;
  --color-foreground: #16a34a;

  --font-sans: var(--font-geist-sans), "Inter", sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

:root {
  --background: #ffffff;
  --foreground: #16a34a;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .glass {
    @apply bg-white border border-gray-100 shadow-sm;
  }
}


